nav > ul {
    display: flex
}
nav li {
    list-style: none;
    
    margin-right: 70px;
    padding: 0 5px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: lightgray;
}
/* Nested menu */
nav li .dropdown{
    display: none;
}